.basket-container {
    position: relative;
  }
  
.basket-summary {
    position: absolute;
    height: 70px;
    top: 492px;
    width: 500px;
    z-index: 150;
    background-color: #fafafa;
  }
.basket-head {
    height: 115px;
    top: 51px;
    z-index: 75;
    background-color: white;
  }
.basket-content {
  position: fixed;
  height: 370px;  
  /* top: 165px; */
  z-index: 100;
  overflow: auto;
  width: 480px;
  }

  .THIS .card-1:hover {
    box-shadow: 0 7px 27px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    }
    
.image-rounded {
    border-radius: 10%;
    }

.tooltip {
      position: relative;
      display: inline-block;
    }

.tooltip .tooltiptext {
      visibility: hidden;
      width: 90px;
      background-color: rgb(0, 57, 107);
      color: rgb(231, 231, 231);
      text-align: center;
      border-radius: 3px;
      padding: 6px;
      font-size: 0.625rem;
      font-style: italic;
    
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      bottom: 105%;
      right: 100%;
    }
    
.tooltip:hover .tooltiptext {
      visibility: visible;
    }